/* body {
    background-color: white;
} */

#home {
    padding-top: 3em;
    background-color: #f6f6f6;
}

#about {
    background: white;
    border-radius: 15px;
}

/* 
#test {

    background-color: #EFF9F0;
} */