.navbar {
   /* background-color: green;*/
    color: antiquewhite;
    z-index: 9;
}

.navbar-brand {
    font-size: 3rem;
    font-family: 'Abril Fatface';
    color: antiquewhite;
}

.nav-item {
    font-family: 'Heebo';
}

.nav-link {
    margin-right: 15px;
    margin-left: 15px;
    color: antiquewhite;
    font-size: 1.1rem
}

#icon {
    font-size: 1.1rem;
    color: antiquewhite;
}

#link,
#link:hover,
#link:focus,
#link:active {
    text-decoration: none;
    color: inherit;
}

span a,
span a:hover,
span a:focus,
span a:active {
    text-decoration: none;
    color: inherit;
}



/* .acc:enabled {
    right: 0;
    display: block;
}

.acc {
    position: fixed;
    right: 100%;
    z-index: 9999;
    top: 0;
    background: #f6f6f6;
    height: calc(100vh - 30px);
    overflow-y: scroll;
    padding: 15px 30px;
    max-width: 340px;
    width: 100%;
    display: none;
} */