.navbar {
    /* background-color: green;*/
    color: antiquewhite;
    z-index: 9;
}

.navbar-brand {
    font-size: 2rem !important;
    font-family: 'Abril Fatface';
    color: antiquewhite !important;
}

.nav-item {
    font-family: 'Heebo';
}

.nav-link {
    margin-right: 15px;
    margin-left: 15px;
    color: antiquewhite;
    font-size: 1.1rem
}

#icon {
    font-size: 1.1rem;
    color: antiquewhite;
}

#link,
#link:hover,
#link:focus,
#link:active {
    text-decoration: none;
    color: inherit;
}

span a,
span a:hover,
span a:focus,
span a:active {
    text-decoration: none;
    color: inherit;
}

#accountModal {
    position: absolute;
    left: 43%;

}

#account-content {
    height: calc(100vh - 20px);
    max-width: 340px;
    width: 100%;
    display: block;
    background: #f6f6f6;
}

/* 
#cartModal {
    position: absolute;
    left: 35%;

} */

#cart-content {
    width: 100%;
    display: block;
    /* background: #f6f6f6; */
}

/* .Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: aliceblue;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rebeccapurple;
} */