* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f6f6f6;
}

#skew-bg {
    /* position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #6F4E37;
    transform: skewY(-30deg);
    bottom: -60%;
    z-index: -1; */

    position: absolute;
    width: 100%;
    height: 100vh;
    background: hsla(23, 39%, 9%, 1);
    z-index: -1;


    background: linear-gradient(270deg, hsla(23, 39%, 9%, 1) 100%, hsla(17, 16%, 53%, 1) 0%);

    background: -moz-linear-gradient(270deg, hsla(23, 39%, 9%, 1) 100%, hsla(17, 16%, 53%, 1) 0%);

    background: -webkit-linear-gradient(270deg, hsla(23, 39%, 9%, 1) 100%, hsla(17, 16%, 53%, 1) 0%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#20150E", endColorstr="#9A7F74", GradientType=1);

}

h2 {
    color: black;
}

#signup-card {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.signIn-card {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}


.account-drawer {
    position: fixed;
    right: 0;
    z-index: 9999;
    top: 0;
    background: #f6f6f6;
    height: calc(100vh - 140px);
    overflow-y: scroll;
    padding: 15px 30px;
    max-width: 320px;
    width: 100%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    transition: all 300ms ease-in-out;
    display: block;
}

.hide-drawer {
    right: 0;
    display: none;
}

.close-Btn {
    position: absolute;
    z-index: 9999;
    right: 15%;
    top: 20px;
}

.hide-btn {
    display: none;
}