* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#skew-bg {
    /* position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #6F4E37;
    transform: skewY(-30deg);
    bottom: -60%; */
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: hsla(23, 39%, 9%, 1);



    background: linear-gradient(270deg, hsla(23, 39%, 9%, 1) 100%, hsla(17, 16%, 53%, 1) 0%);

    background: -moz-linear-gradient(270deg, hsla(23, 39%, 9%, 1) 100%, hsla(17, 16%, 53%, 1) 0%);

    background: -webkit-linear-gradient(270deg, hsla(23, 39%, 9%, 1) 100%, hsla(17, 16%, 53%, 1) 0%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#20150E", endColorstr="#9A7F74", GradientType=1);

}

h2 {
    color: black;
}


.signIn-card,
.signUp-card {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

.cardOption {
    display: block;
    color: black;
    text-align: center;
    font-family: 'Heebo';
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.success-msg {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;

}

.error-msg {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(236, 199, 199);
    color: rgb(211, 19, 19);
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
}